<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Generate key
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="generateKey()" [formGroup]="credentialsGenerate">

    <div class="input-group">

      <ion-item>
        <ion-input type="text" placeholder="cat" formControlName="phrase1"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="dog" formControlName="phrase2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="keyboard" formControlName="phrase3"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="remote" formControlName="phrase4"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="bottle" formControlName="phrase5"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="wallet" formControlName="phrase6"></ion-input>
      </ion-item>

    </div>

    <ion-button type="submit" expand="block" [disabled]="!credentialsGenerate.valid">
      Generate
    </ion-button>

  </form>
</ion-content>
